{% extends "index.html" %}

{% block autofocus %}{% endblock%}

{% block content %}
  {% for station in stations %}
  <h1><a href="{{ station.number }}">{{ station.number }} {{ station.name }}</a></h1>
  <hr />
  <table id="stations">
    <thead>
        <tr>
            <td class="naslov">Bus</td>
            <td>Smer</td>
            <td>Naslednji čez (min):</td>
        </tr>
    </thead>
    <tbody>
     {% for bus in station.buses %}
      <tr class="{% if loop.index is divisibleby 2 %}even{% else %}odd{% endif %}">
        <td class="first">
            <a href="{{ url_for('station', station=station.number, bus=bus.number.strip('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')) }}">{{ bus.number }}</a>
        </td>
        <td>{{ bus.direction }}</td>
        <td>{% for a in bus.arrivals %}{% if not loop.first %}, {% endif %}{{ a }}"{% endfor %}{% if not bus.arrivals %}Ni prihodov.{% endif %}</td>
        <!-- ugly hack since jinja2 does not support map() :( -->
      </tr>
     {% endfor %}
    </tbody>
  </table>
  {% endfor %}
  <hr />
  {{ super() }}
{% endblock %}
