html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit inherit 100% inherit;
}
caption,th,td {
    text-align:left;
    font-weight:400;
}
table,td,th {
    vertical-align: middle;
}
html {
    font-size: 100.01%;
}
body{
    line-height: 1.5;
    font-size: 80%;
    color: #222;
    background: #EFF8E1;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 1.5em;
    line-height: 1;
    margin: 1em 0 .5em;
    font-family: Georgia,serif;
    text-align: center;
    color: #049101;
    font-weight: normal;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: .5em;
    width: 100%;
}
thead {
    background: #EFF8E1;
}
thead td,th {
    font-weight: 700;
}
th,td,caption {
    padding: 4px 10px;
}
.first {
    text-align: center;
    border-right: 5px solid #EFF8E1;
    padding: 4px 5px;
}
.naslov {
    text-align: center;
    padding: 4px 5px;
}
.disclaimer {
    font-size: .7em;
    text-align: center;
}
tr.even td {
    background: #FFF;
}
.container {
    width: 300px;
    margin: 10px auto;
}
hr {
    background: #8BB593;
    color: #8BB593;
    clear: both;
    float: none;
    width: 100%;
    height: .1em;
    margin: 0 0 .3em;
    border: none
}
form,p.opis{
    text-align: center;
    margin: .5em 0
}
label {
    font-size: 1.2em;
    line-height: 1;
    margin: 1em 0 .5em;
    font-family: Georgia,serif;
    text-align: center;
    color: #049101;
}
input[type=text],input[type=password],input.text,input.title,textarea,select {
    background-color: #fff;
    border: 1px solid #bbb;
    text-align: center;
}
input[type=text]:focus,input[type=password]:focus,input.text:focus,input.title:focus,textarea:focus,select:focus {
    border-color: #666;
}
input[type=text],input[type=password],input.text,input.title,textarea,select {
    margin: .5em 0;
}
input.text,input.title {
    width: 100%;
    padding: 5px 0;
}
input.title {
    font-size: 1.5em;
}
a:link, a:visited {
    text-decoration: none;
    color: #049101;
}
#stations a:link, #stations a:visited {
    color: inherit;
}
#stations a:hover {
    text-decoration: underline;
}
#social-container {
    width: 120px;
    margin: 3px auto;
}

/* mobile view */
@media screen and (max-width: 20cm) {
    .container {
        width: 90%!important;
    }
}
